@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
    text-align: center;
}

@mixin setFont($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}
