// Normalize typography
body {
    font-family: $text-font;
}

// html {
//     font-size: 62.5%;
// }

h1, h2, h3, h4, h5, h6, p, a, ul, li, blockquote {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style-type: none;
}

// ------------

h2 {
    margin: 50px 0 20px 0;
    // padding-top: 20px;
}

.link {
    &__secondary {
        color: $text-gray;

        &:visited {
            color: $text-gray;
        }
    }

    &--nav {
        color: white;
        padding: 10px 15px;
    }
}

.title {
    &__article {
        font-size: 1.6rem;
        margin-left: 10px;
    }
}