// typography

$text-gray: #888890;
$text-font: "Poppins", sans-serif;
// $display-font:



//theme accent colors
$light-gray: #f5efef;
$pink: #f07f84;
$blue: #79dad6;
$beige: #f6b895;


//breakpoints

$break-large: 1000px;
$break-med: 700px;
$break-small: 550px;