// typography

$text-gray: #888890;
$text-font: "Poppins", sans-serif;
// $display-font:



//theme accent colors
$light-gray: #f5efef;
$color-main: #f07f84;
$color-ac1: #79dad6;
$color-ac2: #f6b895;


//breakpoints

$break-large: 1000px;
$break-med: 700px;
$break-small: 550px;


$headerHeight: 50px;