
// typography

$text-gray: #888890;
$text-font: 'Titillium Web', sans-serif;


//theme accent colors
$light-gray: #f5efef;
$color-main: #326696;
// $color-main: #96c2eb;

$color-ac1: #59ff38;
$color-ac2: #fffc60;


//breakpoints

$break-large: 1000px;
$break-med: 700px;
$break-small: 550px;


$headerHeight: 50px;