@import "normalize";
@import "variables";
@import "mixin";
@import "typography";


/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}


.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    margin-bottom: 50px;
}

.wrap--small {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}

img {
    width: 100%;
}

/*----------------------------------------
   Header
----------------------------------------*/
.mainHeader {
    min-height: $headerHeight;
    display: flex;
    justify-content: space-between;
    background: $color-main;
    padding: 5px 20px;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}
/*----------------------------------------
  Layout
----------------------------------------*/
.mainLayout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    > * {
        @include sectionBorder;
        padding-top: 50px;
        &:last-child {
            border-left: none;
        }
    }
}

.layout__spaceBetween {
    display: flex;
    justify-content: space-between;
}

main, aside {
    border-top: 5px solid $color-main;
    border-bottom: 5px solid $color-main;
}
/*----------------------------------------
  Splash
----------------------------------------*/

.splashScreen {
    width: 100vw;
    // height: 50vw;
    margin-top: $headerHeight;
    .wrapper {
        // @include sectionBorder;
        padding-bottom: 50px;
        @include flexCenter(column);
    }

    h2 {
        text-align: center;
    }

    img {
        width: 400px;
    }
}



/*----------------------------------------
   Footer
----------------------------------------*/
footer {
    // position: fixed;
    // bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: $color-main;
    color: white;
    margin-top: 50px;
}

/*----------------------------------------
   FORM
----------------------------------------*/
form {
    display: flex;
    flex-flow: column nowrap;

    width: 100;
}

.fieldset {
    padding: 0;
    @include sectionBorder;
    display: flex;

}

label {
    border-right: 5px solid $color-main;
    padding: 5px 10px;
    min-width: 170px;
}

input:not([type="submit"]) {
    width: 100%;
}

input[type="submit"] {
    margin-top: 50px;
    border: 5px solid $color-main;
    padding: 5px 15px;
}
/*----------------------------------------
    new note form (.inputForm)
----------------------------------------*/
.inputForm {
    // padding-bottom: 50px;

}

.last {
    border-bottom: 5px solid $color-main;
}

.loginModal, .createUserModal, {
    display: none;
}

.loginModal.show, .createUserModal.show, .splashScreen.show {
    display: block;
}


.btn {
    min-width: 100px;
    padding: 14px 20px;
    background: $light-gray;
}

.modal {
    padding: 50px 0;
    border: 3px solid $color-main;
}
/*----------------------------------------
    .readingList
----------------------------------------*/
.readingList {
    margin: 50px 0;
    border-top: 5px solid $color-main;
    padding-top: 50px;
}

.articleItem {
    display: flex;
    position: relative;
    align-items: center;
    margin: 5px 0;

    &.saved {
        background: rgb(255, 255, 244);
    }

    &.read {
        .title__article {
            color: $text-gray;
        }
    }

}

.link__delete {
    position: absolute;
    right: 0;
}

.title__box {
    margin: 0 10px;
}
/*----------------------------------------
    all sections
----------------------------------------*/




/*----------------------------------------
    all sections
----------------------------------------*/

button {
    border: none;
    background: $light-gray;
    border-radius: 50%;
    padding: 5px;

    &.saved {
        background: $color-ac2;
    }

    &.read {
        background: $color-ac1;
    }
}
