@import "normalize";
@import "variables";
@import "typography";
@import "mixin";


/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    margin-bottom: 50px;
}

.wrap--small {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}

img {
    width: 100%;
}

/*----------------------------------------
   Header
----------------------------------------*/
.mainHeader {
    min-height: $headerHeight;
    display: flex;
    justify-content: space-between;
    background: $color-main;
    padding: 5px 20px;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}

/*----------------------------------------
  Layout
----------------------------------------*/
.mainLayout {
    display: grid;
    grid-template-areas: 
        "main aside";
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    > * {
        padding-top: 50px;

    }

    @media (max-width: $break-med) {
        grid-template-areas: 
            "main"
            "aside";
        // grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr;
    }
}

.layout__spaceBetween {
    display: flex;
    justify-content: space-between;
}

main {
    grid-area: main;
    @include sectionBorder;
}

aside {
    grid-area: aside;
    @include sectionBorder;
    border-left: none;
    padding-bottom: 50px;
    .wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-start;
        align-items: flex-start;
    }

}
main, aside {
    border-bottom:  $border;
}

.last {
    border-bottom:  $border;
}
/*----------------------------------------
  Splash
----------------------------------------*/

.splashScreen {
    width: 100vw;
    // height: 50vw;
    margin-top: $headerHeight;
    .wrapper {
        // @include sectionBorder;
        padding-bottom: 50px;
        @include flexCenter(column);
    }

    h2 {
        text-align: center;
    }

    img {
        width: 400px;
    }
}



/*----------------------------------------
   Footer
----------------------------------------*/
footer {
    // position: fixed;
    // bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: $color-main;
    color: white;
    margin-top: 50px;
}

/*----------------------------------------
   FORM
----------------------------------------*/
form {
    display: flex;
    flex-flow: column nowrap;

    width: 100;
}

.fieldset {
    padding: 0;
    @include sectionBorder;
    display: flex;

}

label {
    border-right:  $border;
    padding: 5px 10px;
    min-width: 170px;
}

input:not([type="submit"]) {
    width: 100%;
}

input[type="submit"] {
    margin-top: 50px;
    border: 5px solid $color-main;
    padding: 5px 15px;
}
/*----------------------------------------
    new note form (.inputForm)
----------------------------------------*/


.loginModal, .createUserModal, {
    display: none;
}

.loginModal.show, .createUserModal.show, .splashScreen.show {
    display: block;
}


.btn {
    min-width: 100px;
    padding: 14px 20px;
    background: $light-gray;
}

.modal {
    padding: 50px 0;
    border:  $border;
}
/*----------------------------------------
    .readingList
----------------------------------------*/
.readingList {
    margin: 50px 0;
    border-top: $border;
    padding-top: 50px;
}


.link__delete {
    position: absolute;
    right: 0;
}

.title__box {
    margin: 0 10px;
}
/*----------------------------------------
    article Item
----------------------------------------*/
.articleItem {
    position: relative;
    margin-bottom: 40px;
}

.articleItemBox {
    display: grid;
    grid-auto-columns: 9fr 1fr;
    grid-template-areas: 
        "title complete"
        "tags star";
    width: 100%;
    border: $border;
    padding-left: 10px;

    @media (max-width: $break-med) {
        grid-auto-columns: 5fr 1fr;
    }
}

// classes for checked star button and read button
.saved {
    background: $color-ac2;
}

.complete {
    background: $color-ac1;
}


/*----------------------------------------
    components
----------------------------------------*/

button {
    border: none;
    background: $light-gray;
    padding: 5px;

    &.saved {
        background: $color-ac2;
    }

    &.read {
        background: $color-ac1;
    }
}

.tagBanner {
    padding: 5px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    background: $color-main;
    color: white;
}