@import "normalize";
@import "variables";
@import "mixin";
@import "typography";


/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}


.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    margin-bottom: 50px;
}

.wrap--small {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}

img {
    width: 100%;
}

// FORM
.inputForm {
    // @include flexCenter(column);

}

form {
    // border: red 1px solid;
}

.readingList {
    // border: rgb(218, 160, 0) 1px solid;
}